<div class="jumbotron">
  <h1>Stupendously Awesome Word DeFiner!</h1>
  <hr>
</div>

<h1>Add a Word:</h1>

<form action="/word" method="post">
  <label for="word_form">What's your word?!</label><hr>
  <label for="spelling">Word</label><br>
  <input id="spelling" name="spelling" type="text"><br>
  <label for="picture">Pics or it didn't happen! (enter photo url below to see your word!)</label><br>
  <input id="pic-url" type="text" name="picture"><br>

  <button class="btn btn-danger" type="submit">Add Word</button>
</form>
<div id="background">
  <!-- empty div for background -->
</div>
