<h1>Define <%= @word.spelling() %>!</h1>

<form action="/<%= @word.id %>" method="post">

  <label for="definition">What's your definition??</label>
  <input name='word_id' type='hidden' value='<%= @word.id() %>'>
  <input name="meaning">

  <button class="btn btn-info" type="submit">Add Definition</button>
</form>
