<div class="jumbotron">
  <h1>Stupendously Awesome Word DeFiner!</h1>
  <hr>
</div>

<h3><a id="add_word" href="/word/new">Add New Word</a></h3>

  <% if Word.all != [] %>
  <h3>Here are all of your words:</h3>
  <ul>
    <% @words.each() do |word| %>
      <li><h3><a href="/<%= word.id() %>"><%= word.spelling() %></a></h3>
        <% if word.definitions != [] %>
        Number of definitions: <%= word.definitions.length %>
        <% end %>
      </li>

    <% end %>
  <% end %>
</ul>

<h3><a href="/all_words">View all words and definitions together</a></h3>
