<h1>Stupendously Awesome Word De-Finer!</h1>

<a href="/word/new">Add New Word</a>

  <% if Word.all != [] %>
  <h3>Here are all of your words:</h3>
  <ul>
    <% @words.each() do |word| %>
      <li><h3><a href="/<%= word.id() %>"><%= word.spelling() %></a></h3>
        <% if word.definitions != [] %>
        Number of definitions: <%= word.definitions.length %>
        <% end %>
      </li>

    <% end %>
  <% end %>
</ul>
