<h1>Stupendously Awesome Word De-Finer!</h1>

<a href="/word/new">Add New Word</a>

<h3>Here are all of your words:</h3>
<ul>
  <% if Word.all != [] %>
    <% @words.each() do |word| %>
      <li><a href="/<%= word.id() %>"><%= word.spelling() %></a></li>

    <% end %>
  <% end %>
</ul>
