<h1>Word: <b><%= @word.spelling() %></b></h1>

<% if @word.definitions != [] %>
<h3>Here are all of your definitions:</h3>
<ul>
  <% @word.definitions.each() do |definition| %>
    <%= definition.meaning() %>
  <% end %>
<% end %>
</ul>

<a href="/<%= @word.id %>/definition/new">Add a new Definition for "<%= @word.spelling() %>"!</a><br>
<a href="/">Back</a>
