<h1><%= @word.spelling() %></h1>

<% if @word.definitions != [] %>
<h3>Here are all of your definitions:</h3>
<ul>
  <% @word.definitions.each() do |definition| %>
    <%= definition.meaning() %>
  <% end %>
<% end %>
</ul>

<a href="/<%= @word.id %>/definition/new">Add New Definition!</a><br>
<a href="/">Back</a>
