body {
  background-color: rgb(141, 210, 214);
  font-family: 'Audiowide', cursive;
  font-size: 20px;
}

input {
  color: black;
}

textarea {
  color: black;
  width: 100%;
}

a {
  color: yellow;
}

h1 {
}

.jumbotron {
  color: white;
  text-shadow: 4px 4px black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.01)
}

#add_word {
  text-align: center;
}

#spelling #pic-url {
  padding: 5px;
  margin-bottom: 5px;
}
