
body {
  background-color: rgb(141, 210, 214);
  font-family: 'Audiowide', cursive;
  font-size: 20px;
}

input {
  color: black;
  font-family: 'Roboto', sans-serif;
}

textarea {
  color: black;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  color: yellow;
  text-shadow: 2px 2px black;
}

.jumbotron {
  color: white;
  text-shadow: 4px 4px black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.01)
}

#add_word {
  text-align: center;
}

#spelling #pic-url {
  padding: 3px;
  margin-bottom: 12px;
}

#background {
  background-image: url(../img/icecream2.png);
  background-size: 20%;
  height: 102%;
  width: 102%;
  top: 0;
  left: 0;
  padding-left: 50px;
  padding-right: 0;
  margin-right: 0;
  margin-top: 150px;
  background-position: right center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}
